<div class="container">
	<div class="row">
		<div class="jumbotron"><h1>Static Pages Home</h1>
		</div>
		

		<div class="glenn">
			<p>Circle Doggy in da house!!!</p>
		</div>

		<div class="jimmy">
			<p>Mi amigo colombiano que conduce una furgoenta!</p>
		</div>
	</div>
</div>



