<main class="container-fluid">
  <div class="row">
    <div style="text-align:center;" class="jumbotron">
      <%= image_tag 'bowtie.png', id:"logo" %>
      <h1>GORGEOUS GLENN'S BOWTIE BAZAAR</h1>
      <p>Experience the experience...</p>
    </div>

    <section class="col-md-12" id="bowties">
      <ul id="bowties-list"></ul>
    </section>
  </div>
</main>


