<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">

				<div class="inner">
					<h3 class="masthead-brand">The Good Egg Co.</h3>
					<nav>
						<ul class="nav masthead-nav">
							<li class="active">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
		
						</ul>
					</nav>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">The Pacheco Family has been delivering eggs farm-fresh for...</h1>
				<p class="lead"></p>
            	<p class="lead">
            		<a href="#"><img src="http://www.clker.com/cliparts/a/d/5/a/1197091922143657699carlitos_Egg.svg.hi.png"></a>
            	</p>
			</div>
			<div class="mastfood">
				<div class="inner">
					<p>
						Cover template for
						<a href="#">The Good Egg Co.</a>
						 by
						<a href="#">Swole Bear</a>
						.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>